extends layout

block content
    h1 Prediction for #{place}
    br
    body
        h2 #{type} for #{place}
        h3 (#{latitude}, #{longitude})
        br
        h3 Rating: #{rating}% (#{quality})
        h3 Temperature: #{temp} Celsius
        h3 Time: #{time}
        br
        br
        br
        a(class='button' href='/') Back